<p-card
  [style]="{ width: '360px' }"
  subheader="{{ medicine.price }} EG"
  styleClass="p-card-shadow"
>
  <ng-template pTemplate="header">
    <h2 style="padding: 0.5em 0.75em">{{ medicine.name }}</h2>
    <img
      alt="Card"
      src="{{ medicine.image }}"
      style="width: 200px; margin-left: 80px"
    />
  </ng-template>
  <p>
    {{ medicine.describtion }}
  </p>
  <ng-template pTemplate="footer">
    <p-button
      label="Buy Now"
      icon="pi pi-shopping-cart"
      class="btn-k p-button"
    ></p-button>
  </ng-template>
</p-card>
