<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a [routerLink]="['/']" routerLinkActive="active" class="nav-link"
          >Clinic System
        </a>
      </li>
      <li>
        <a
          class="nav-link"
          *ngIf="authService.loggedIn()"
          [routerLink]="['/profile']"
          routerLinkActive="active"
          >Profile</a>
      </li>
      <li>
        <a
          class="nav-link"
          *ngIf="authService.loggedIn()"
          [routerLink]="['/report']"
          routerLinkActive="active"
          >Report</a>
      </li>
      <li>
        <a
          class="nav-link"
          *ngIf="authService.loggedIn()"
          [routerLink]="['/doctor-list']"
          routerLinkActive="active"
          >List of Doctors</a>
      </li>
      <li>
        <a
          class="nav-link"
          *ngIf="authService.loggedIn()"
          [routerLink]="['/medicine']"
          routerLinkActive="active"
          >Medicine</a>
      </li>
      <li>
        <a
          class="nav-link"
          *ngIf="authService.loggedIn()"
          [routerLink]="['/appointment']"
          routerLinkActive="active"
          >Appointment</a>
      </li>
    </ul>
    <ul class="navbar-nav my-2 my-lg-0 position-absolute top-0 end-0">
      <li>
        <a
          class="nav-link"
          *ngIf="!authService.loggedIn()"
          [routerLink]="['/login']"
          routerLinkActive="active"
          >Login</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          *ngIf="!authService.loggedIn()"
          [routerLink]="['/register']"
          routerLinkActive="active"
          >Register</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          (click)="logout()"
          *ngIf="authService.loggedIn()"
          style="cursor: pointer"
          >Logout</a
        >
      </li>
    </ul>
  </div>
</nav>
