<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand text-light" routerLink="/">CMS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" routerLinkActive="active"
                        routerLink="/clinics">Clinics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" routerLinkActive="active" routerLink="/user">Doctors & Employees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" routerLinkActive="active" *ngIf="authService.loggedIn()"
                        routerLink="/medicine">Medicine</a>
                </li>

            </ul>
            <ul class="navbar-nav my-2 my-lg-0 position-absolute top-0 end-0">
                <li>
                    <a class="nav-link  text-light" *ngIf="!authService.loggedIn()" [routerLink]="['/login']"
                        routerLinkActive="active">Login</a>
                </li>
                <li>
                    <a class="nav-link text-light" *ngIf="!authService.loggedIn()" [routerLink]="['/register']"
                        routerLinkActive="active">Register</a>
                </li>
                <li>
                    <a class="nav-link text-light" (click)="logout()" *ngIf="authService.loggedIn()"
                        style="cursor: pointer">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>